body {
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.holder{
  max-width: 960px;
  margin: 0 auto;
}

.holder div img {
  width: 100%;
  max-height: 360px;
  border: 20px solid transparent;
}

h2{
  color: #2e64a1;
  font-weight: 400;
}